// Import page-specific CSS files here.
@import "home";

body {
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

a {
  text-decoration: none;
  color: #8d8d8d;
}

a:hover {
  color: #cc0000;
}

.grid-display {
  display: flex;
}

.map-responsive {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: rgba(200, 200, 200, 1) 0px 0px 0px 2px, rgba(200, 200, 200, 1) 0px 4px 6px -1px, rgba(200, 200, 200, 1) 0px 1px 0px inset;
}

@include media-breakpoint-down(xl) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .grid-display {
    display: grid;
  }
  .map-responsive {
    height: 50vh;
  }
}

@include media-breakpoint-down(md) {
  .cards {
    grid-template-columns: 1fr;
  }
}
