
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/e6/52/d3/e652d3692309b9edada209878296e220.jpg);">
  <div class="container">
    <h1>How to <strong>SURVIVE</strong> in the <strong>apocalypse</strong>!</h1>
    <p>Want to live? Find your survivalist..</p>
  </div>
</div>

<%# <div class="container">
  <h1 class="text-center my-4">List Mainframe</h1>
  <%= link_to "Insert List", new_survivalist_path, class: "btn btn-primary mb-3" %>
