<div class="p-3 mb-2 bg-dark text-white">
<div class="gradient">
<div class="container">
  <h2 class="text-center mt-5">	&darr; Choose Your Survivalist! &darr;</h2>
  <div class="my-5">
    <div class="cards">
      <% @survivalists.each do |survivalist| %>
        <%= link_to survivalist_path(survivalist) do %>
          <div class="card-trip">
            <img src="<%= survivalist.photo %>">
            <div class="card-trip-infos">
              <div>
                <h2><%= survivalist.name %></h2>
                <p><%= survivalist.category %></p>
              </div>
              <h2 class="card-trip-pricing">£222999.99/day</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
