<div class="card-trip">
  <img src="https://i.pinimg.com/originals/c7/c7/fb/c7c7fb072817f1c5a45743a69b52dc42.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Toecutter</h2>
      <p>Headshots, Destruction, Haircuts</p>
    </div>
    <h2 class="card-trip-pricing">£222999.99/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

