// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "card-trip";
@import "avatar";
@import "footer";
@import "search";
@import "blooddrop";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
