// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "card-trip";
@import "avatar";
@import "footer";
@import "search";
@import "blooddrop";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #cc0000;
  margin: 0;
  padding: 5px 5px 0 5px;
}

.mapboxgl-popup-content > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
