.text-color {
  color: #cc0000;
  font-family: 'Creepster', cursive;
  font-size: 50px;
  letter-spacing: .2rem;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

#glitch{
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Roboto', monospace;
  color: #f9fafc;
  text-align: center;
}

#glitch{
  animation: glitch 1s linear infinite;
}

// @keyframes glitch{
//   2%,64%{
//     transform: translate(2px,0) skew(0deg);
//   }
//   4%,60%{
//     transform: translate(-2px,0) skew(0deg);
//   }
//   62%{
//     transform: translate(0,0) skew(5deg);
//   }
// }

#glitch:before,
#glitch:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#glitch:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

// @keyframes glitchTop{
//   2%,64%{
//     transform: translate(2px,-2px);
//   }
//   4%,60%{
//     transform: translate(-2px,2px);
//   }
//   62%{
//     transform: translate(13px,-1px) skew(-13deg);
//   }
// }

#glitch:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

// @keyframes glitchBotom{
//   2%,64%{
//     transform: translate(-2px,0);
//   }
//   4%,60%{
//     transform: translate(-2px,0);
//   }
//   62%{
//     transform: translate(-22px,5px) skew(21deg);
//   }
// }
